src/test/resources/schema/globalelements-include.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.test.com/2"
    xmlns="http://www.test.com/2">

    <xs:complexType name="IncludedType">
        <xs:sequence>
            <xs:element name="localElement" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="includeElement" type="IncludedType"/>
</xs:schema>
