src/test/resources/xsd/duplicate-elements-included.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.modeltwozero.com/test/duplicate/included"
	xmlns="http://www.modeltwozero.com/test/duplicate/included">
	<xs:complexType name="Dave">
		<xs:sequence>
			<xs:element name="element" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubstitutableType">
		<xs:sequence>
			<xs:element name="element" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="substitutableElement" type="SubstitutableType" />
</xs:schema>
